page-graph-out-line {

    ion-card {
        background: rgb(64, 78, 88) !important;
        color: white !important;
    }

    h2 {
        text-align: center;
        color: rgb(73, 73, 73);
    }

    ion-row.head {
        text-align: center;
        background-color: #488aff !important;
        color: white;
        font-size: 18px;
    }

    ion-col {
        text-align: center;
    }

    ion-row {
        border-bottom: 2px solid rgb(233, 233, 233);
        background-color: rgba(0,0,0,.05);
    }

    div.data {
        margin-left: 5px;
        margin-right: 5px;
    }

}
