page-detect {
    button img {
        height: 40px;
    }

    button {
        text-align: center !important;
    }

    h1 {
        line-height: 70vh ;
        text-align: center;
        color: rgba(0,0,0,.4);
    }
}
